.form-fieldset-header {
	margin-bottom: 2rem;

	&-title {
		font-size: 2rem;
		font-weight: 400;
		color: inherit;
		margin-bottom: 2rem;

		@media (min-width: 992px) {
			font-size: 2.5rem;
		}
	}

	&-text {
		font-size: 1rem;
		line-height: 1.2;
		color: #7C7C7C;

		@media (min-width: 992px) {
			font-size: 1.25rem;
		}
	}
}

.field-control,
.fieldset {
	position: relative;
}

.field-control {

	+ .field-control,
	+ .btn-submit {
		margin-top: 1.5rem;
	}
}

.field {
	--_width: 100%;
	--_height: 2.5rem;

	--_fs: var(--fs-base);
	--_fw: 300;
	--_lh: var(--lh-base);
	--_ls: var(--ls-base);
	--_color: #747474;
	--_bg: transparent;
	--_border-width: 1px;
	--_border-solid: solid;
	--_border-color: currentColor;
	--_rounded: 0rem;
	--_padding: .5875rem .75rem;

	--_color-hover: var(--primary);
	--_bg-hover: transparent;
	--_border-color-hover: currentColor;

	--_color-active: var(--primary);
	--_bg-active: transparent;
	--_border-color-active: currentColor;

	width: var(--_width);
	min-height: var(--_height);
	display: block;
	font-size: var(--_fs);
	font-weight: var(--_fw);
	line-height: var(--_lh);
	letter-spacing: var(--_ls, normal);
	color: var(--_color);
	background-color: var(--_bg);
	border: var(--_border-width) var(--_border-solid) var(--_border-color);
	border-radius: var(--_rounded);
	padding: var(--_padding);
	outline: none;
	appearance: none;
	transition-property: color, background, border;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);

	@media (min-width: 992px) {
		--_height: 3.75rem;
		--_fs: 1.5rem;
		--_padding: .825rem 2.5rem;

		&.field-md {
			--_height: 2.75rem;
			--_padding: .375rem 2.5rem;
		}
	}

	&::placeholder {
		font: inherit;
		color: currentColor;
	}

	&:focus-visible {
		color: var(--_color-active);
		background-color: var(--_bg-active);
		border-color: var(--_border-color-active);
	}
}

textarea.field {
	height: 12.5rem;
	resize: none;

	@media (min-width: 992px) {
		height: 8.75rem;

		&.field-md {
			--_padding: .825rem 2.5rem;

			height: 7.5rem;
		}
	}
}

.btn-submit {
	--_width: 100%;

	&:not(:first-child) {
		margin-top: .875rem;
		
		@media (min-width: 992px) {
			margin-top: 1.125rem;
		}
	}
}

.field-controls {

	+ .field-controls {
		margin-top: .875rem;
		
		@media (min-width: 992px) {
			margin-top: 1.125rem;
		}
	}

	+ .form-footer {
		margin-top: .875rem;

		@media (min-width: 992px) {
			margin-top: 1.125rem;
		}

		@media (min-width: 1200px) {
			margin-top: 3rem;
		}
	}
}

[data-has-fields] {
	display: grid;
	gap: .875rem;
		
	@media (min-width: 992px) {
		gap: 1.125rem;
	}

	.field-control {
		margin: 0;
	}

	[data-columns-field="2"] {
		@media (min-width: 992px) {
			grid-column: span 2;
		}
	}

	[data-columns-field="3"] {
		@media (min-width: 992px) {
			grid-column: span 3;
		}
	}
}

[data-has-fields="2"] {

	@media (min-width: 992px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

[data-has-fields="3"] {
	@media (min-width: 992px) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

[data-has-fields="4"] {
	@media (min-width: 992px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}