// stylelint-disable function-disallowed-list

%offcanvas-css-vars {
  // scss-docs-start offcanvas-css-vars
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 100%;
  --bs-offcanvas-height: 100%;
  --bs-offcanvas-padding: .75rem var(--container-offset);
  --bs-offcanvas-color: var(--text-color);
  --bs-offcanvas-bg: var(--body-bg);
  --bs-offcanvas-border-width: 0;
  --bs-offcanvas-border-color: transparent;
  --bs-offcanvas-box-shadow: unset;
  --bs-offcanvas-transition: transform var(--transition-duration) var(--transition-timing-function);
  --bs-offcanvas-title-line-height: var(--lh-base);

  @media (min-width: 992px) {
    --bs-offcanvas-width: 25rem;
    --bs-offcanvas-padding: 1.25rem var(--container-offset);
  }
}

.offcanvas {
  @extend %offcanvas-css-vars;

  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--bs-offcanvas-color);
  visibility: hidden;
  background-color: var(--bs-offcanvas-bg);
  background-clip: padding-box;
  outline: 0;
  transition: var(--bs-offcanvas-transition);

  .field {
    --_color: var(--gray-200);
  }

  &.offcanvas-start {
    top: 0;
    left: 0;
    min-width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }

  &.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }

  &.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }

  &.offcanvas-bottom {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
  }

  &.showing,
  &.show:not(.hiding) {
    transform: none;
  }

  &.showing,
  &.hiding,
  &.show {
    visibility: visible;
  }
}

.offcanvas-backdrop {
  display: block;
  background-color: rgba(128, 128, 128, .5);
  backdrop-filter: blur(1rem);
  cursor: pointer;
  position: fixed;
  inset: 0;
  z-index: 1040;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  padding: var(--bs-offcanvas-padding);

  .btn-close {
    --_icon-size: 1.5rem;

    margin-left: auto;
  }
}

.offcanvas-title {
  margin-bottom: 0;
  line-height: var(--bs-offcanvas-title-line-height);
}

.offcanvas-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: var(--bs-offcanvas-padding);
  overflow-y: auto;

  .navbar-nav {
    text-align: end;

    .nav-item {
      display: block;
      border-bottom: 1px solid #EEEEEE;
      padding: 1.125rem 0;
  
      @media (min-width: 1400px) {
        border: 0;
        padding: 0;
      }
    }

    &:last-child {

			.nav-item {

				&:last-child {
					border: 0;
				}
			}
		}
  }
}