.partners {

	&-content {
		display: grid;
		grid-template-columns: repeat(2, minmax(0rem, 1fr));
		gap: 1.25rem;

		@media (min-width: 576px) {
			grid-template-columns: repeat(3, minmax(0rem, 1fr));
			gap: 2rem;
		}

		@media (min-width: 992px) {
			gap: 2.5rem;
		}

		@media (min-width: 1200px) {
			grid-template-columns: repeat(4, minmax(0rem, 1fr));
			gap: 3rem;
		}
	}

	&-item {

		&-image {
			width: 100%;
			display: block;
			object-fit: contain;
			object-position: center;
		}
	}
}