<footer class="footer">
  <div class="container">
    <div class="footer-main">
      <a href="#" class="brand">
        <img loading="lazy" src="img/logo.svg" class="brand-image" width="34" height="38" alt="Лого">
        <span class="brand-text">
          <span class="brand-text-main">
            <span>karataev</span>.pro
          </span>
          <span class="brand-text-sub">
            Продвижение бизнеса в поисковых системах
          </span>
        </span>
      </a>

      <div class="contacts"
        data-transfer-origin="footer-contacts"
        data-transfer-breakpoint="1200">
        <a href="tel:+74950000000" class="btn btn-phone">
          <span>
            +7 495 <span class="text-color-primary">000 00 00</span>
          </span>
        </a>

        <address class="address">
          Москва, ул. дом
        </address>

        <a href="mailto:info@karataev.pro" class="btn btn-mail text-underline">
          info@karataev.pro
        </a>
      </div>
    </div>

    <ul class="list-reset navbar-nav">
      <li class="nav-item">
        <a href="#" class="btn nav-link">
          Все услуги
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn nav-link">
          Наше портфолио
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn nav-link">
          О компании
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn nav-link">
          Вакансии
        </a>
      </li>
    </ul>
    <ul class="list-reset navbar-nav">
      <li class="nav-item">
        <a href="#" class="btn nav-link">
          Разработка сайтов
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn nav-link">
          Техническая поддержка
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn nav-link">
          СЕО-продвижение
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn nav-link">
          Реклама и маркетинг
        </a>
      </li>
    </ul>
    <ul class="list-reset navbar-nav">
      <li class="nav-item">
        <a href="#" class="btn nav-link">
          Сайты на 1С-битрикс
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn nav-link">
          Интеграция с сервисами
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn nav-link">
          Скачать презентацию
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn nav-link">
          Кабинет клиента
        </a>
      </li>
    </ul>

    <div class="footer-bottom"
      data-transfer-target="footer-contacts"></div>
  </div>
</footer>

<div class="footer-buttons">
  <div class="container">
    <a href="#" class="btn btn-base btn-primary">
      Обратный 
      <br>
      звонок

      <span class="icon">
        <svg>
          <use xlink:href="img/icons/arrow-right.svg#svg-arrow-right"></use>
        </svg>
      </span>
    </a>
    <a href="#" class="btn btn-base btn-dark">
      Позвонить

      <span class="icon">
        <svg>
          <use xlink:href="img/icons/arrow-right.svg#svg-arrow-right"></use>
        </svg>
      </span>
    </a>
  </div>
</div>