<header class="header">
  <div class="header-main">
    <div class="container">
      <a href="#" class="brand">
        <img loading="lazy" src="img/logo.svg" class="brand-image" width="34" height="38" alt="Лого">
        <span class="brand-text">
          <span class="brand-text-main">
            <span>karataev</span>.pro
          </span>
          <span class="brand-text-sub">
            Продвижение бизнеса в поисковых системах
          </span>
        </span>
      </a>
  
      <ul class="list-reset navbar-buttons">
        <li class="nav-item is-mobile-hidden">
          <a href="tel:+74950000000" class="btn btn-phone nav-link">
            +7 495 000 00 00
            <span class="subtext">
              обратная связь
            </span>
          </a>
        </li>
        <li class="nav-item is-mobile-hidden">
          <button type="button" class="btn btn-base btn-secondary nav-link">
            Заказать продвижение сайта
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-menu nav-link"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvas-navigation"
            aria-controls="offcanvas navigation">
            <span class="point"></span>
            <span class="point"></span>
            <span class="point"></span>
            <span class="point"></span>
          </button>
        </li>
      </ul>
  
    </div>
  </div>

  <div class="header-bottom">
    <div class="container">
      <ul class="list-reset navbar-nav"
        data-transfer-origin="navbar-nav-1"
        data-transfer-breakpoint="1400"
        data-transfer-placement="first">
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Продвижение сайтов
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Консалтинг
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Продвижение медицинских центров
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Продвижение сайтов
          </a>
        </li>
      </ul>
  
      <ul class="list-reset navbar-nav"
        data-transfer-origin="navbar-nav-2"
        data-transfer-breakpoint="1400">
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            ТОП КЕЙСЫ
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Команда
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            Контакты
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn nav-link">
            О компании
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
