<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-navigation">
  <div class="offcanvas-header">
		<a href="#" class="brand">
			<img loading="lazy" src="img/logo.svg" class="brand-image" width="34" height="38" alt="Лого">
			<span class="brand-text">
				<span class="brand-text-main">
					<span>karataev</span>.pro
				</span>
				<span class="brand-text-sub">
					Продвижение бизнеса в поисковых системах
				</span>
			</span>
		</a>

		<button type="button" class="btn btn-close"
			data-bs-dismiss="offcanvas"
			aria-label="Закрыть навигационное меню">
			<span class="point"></span>
			<span class="point"></span>
		</button>
  </div>
  <div class="offcanvas-body"
		data-transfer-target="navbar-nav-1 navbar-nav-2">
		
  </div>
</div>